## Model Training
#### 1.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier, AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV
from sklearn.metrics import accuracy_score,f1_score,classification_report,confusion_matrix,roc_auc_score

##### Import the CSV Data as Pandas DataFrame

In [2]:
data = pd.read_csv("data/processed_data.csv")

In [3]:
data.head()

,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,8.000000,3,6.000000,3.0,3,4,2,0,13.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,10.189899,3,12.000000,2.0,3,3,3,1,20.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,18.000000,1,15.639896,2.0,3,4,9,0,18.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,5.000000,3,14.000000,2.0,3,2,2,0,14.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2.000000,1,6.000000,2.0,3,3,2,0,13.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

##### Prepair X and Y variables

In [4]:
X = data.drop(columns="Churn",axis=1)

In [5]:
y = data['Churn']

In [6]:
X.head()

,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,8.000000,3,6.000000,3.0,3,4,2,0,13.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,10.189899,3,12.000000,2.0,3,3,3,1,20.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,18.000000,1,15.639896,2.0,3,4,9,0,18.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,5.000000,3,14.000000,2.0,3,2,2,0,14.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2.000000,1,6.000000,2.0,3,3,2,0,13.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

In [8]:
X.std()

Tenure                                    7.981618
CityTier                                  0.938779
WarehouseToHome                           8.112513
HourSpendOnApp                            0.689287
NumberOfDeviceRegistered                  1.021218
SatisfactionScore                         1.379955
NumberOfAddress                           2.636652
Complain                                  0.486440
OrderAmountHikeFromlastYear               3.692770
CouponUsed                                1.068757
OrderCount                                1.707992
DaySinceLastOrder                         3.328665
CashbackAmount                           41.462813
PreferredLoginDevice_Computer             0.463440
PreferredLoginDevice_Mobile Phone         0.496702
PreferredLoginDevice_Phone                0.430289
PreferredPaymentMode_CC                   0.226523
PreferredPaymentMode_COD                  0.273098
PreferredPaymentMode_Cash on Delivery     0.163077
PreferredPaymentMode_Credit Card          0.428761
PreferredPaymentMode_Debit Card           0.489019
PreferredPaymentMode_E wallet             0.328850
PreferredPaymentMode_UPI                  0.264214
Gender_Female                             0.486969
Gender_Male                               0.486969
PreferedOrderCat_Fashion                  0.351712
PreferedOrderCat_Grocery                  0.218573
PreferedOrderCat_Laptop & Accessory       0.459977
PreferedOrderCat_Mobile                   0.381379
PreferedOrderCat_Mobile Phone             0.452513
PreferedOrderCat_Others                   0.189434
MaritalStatus_Divorced                    0.348664
MaritalStatus_Married                     0.498360
MaritalStatus_Single                      0.489758
dtype: float64

In [9]:
X_scaled = StandardScaler().fit_transform(X)
X = pd.DataFrame(X_scaled, columns=X.columns)

In [10]:
X.head()

,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,0.046346,1.356388,-1.237013,0.090975,-0.76834,0.574869,-0.874058,-0.789938,-0.729152,-0.422996,...,0.793687,2.432243,-0.230137,-0.660785,-0.46317,-0.634867,-0.196757,2.462080,-0.921483,-0.815117
1,0.320728,1.356388,-0.497375,-1.359876,-0.76834,-0.149831,-0.494769,1.265921,1.166545,-1.358712,...,0.793687,-0.411143,-0.230137,1.513351,-0.46317,-0.634867,-0.196757,2.462080,-0.921483,-0.815117
2,1.299292,-0.774152,-0.048674,-1.359876,-0.76834,0.574869,1.780965,-0.789938,0.624917,-0.422996,...,0.793687,-0.411143,-0.230137,1.513351,-0.46317,-0.634867,-0.196757,-0.406161,1.085207,-0.815117
3,-0.329538,1.356388,-0.250829,-1.359876,-0.76834,-0.874531,-0.874058,-0.789938,-0.458338,0.512721,...,-1.259942,2.432243,-0.230137,-0.660785,-0.46317,-0.634867,-0.196757,-0.406161,-0.921483,1.226818
4,-0.705421,-0.774152,-1.237013,-1.359876,-0.76834,-0.149831,-0.874058,-0.789938,-0.729152,-1.358712,...,0.793687,-0.411143,-0.230137,1.513351,-0.46317,-0.634867,-0.196757,2.462080,-0.921483,-0.815117

In [11]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((7491, 34), (1873, 34))

##### Create an Evaluate Function to give all metrics after model Training

In [12]:
def evaluate_model(true, predicted):
    accuracy = accuracy_score(true, predicted)
    f1_scor = f1_score(true, predicted)
    conf_matrix = confusion_matrix(true, predicted)
    class_report = classification_report(true, predicted)
    roc_curve = roc_auc_score(true, predicted)
    return accuracy, f1_scor, conf_matrix, class_report, roc_curve,

In [13]:
models = {
    "LogisticRegression": LogisticRegression(),
    "DecisionTreeClassifier": DecisionTreeClassifier(),
    "RandomForestClassifier": RandomForestClassifier(),
    "GradientBoostingClassifier": GradientBoostingClassifier(),
    "AdaBoostClassifier": AdaBoostClassifier(),
    "KNeighborsClassifier": KNeighborsClassifier(), 
    "CatBoostClassifier": CatBoostClassifier(verbose=False),
    "XGBClassifier": XGBClassifier()
}
model_list = []


for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    accuracy_train, f1_scor_train, conf_matrix_train, class_report_train, roc_curve_train = evaluate_model(y_train, y_train_pred)

    accuracy_test, f1_scor_test, conf_matrix_test, class_report_test, roc_curve_test = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- accuracy_train: {:.4f}".format(accuracy_train))
    print("- f1_scor_train: {:.4f}".format(f1_scor_train))
    print("- class_report_train: {:.4f}".format(class_report_train))
    print("- roc_curve_train: {:.4f}".format(roc_curve_train))
    print("- conf_matrix_train: "(conf_matrix_train))

    print('----------------------------------')
    
    print('Model performance for Training set')
    print("- accuracy_train: {:.4f}".format(accuracy_test))
    print("- f1_scor_train: {:.4f}".format(f1_scor_test))
    print("- conf_matrix_train:"(conf_matrix_test))
    print("- class_report_train: {:.4f}".format(class_report_test))
    print("- roc_curve_train: {:.4f}".format(roc_curve_test))
    
    print('='*35)
    print('\n')

<>:36: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:43: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:36: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:43: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:36: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train: "(conf_matrix_train))
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:43: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train:"(conf_matrix_test))

LogisticRegression
Model performance for Training set
- accuracy_train: 0.8120
- f1_scor_train: 0.8131

C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:36: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train: "(conf_matrix_train))
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:43: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train:"(conf_matrix_test))
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:36: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train: "(conf_matrix_train))
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:43: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train:"(conf_matrix_test))
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:36: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train: "(conf_matrix_train))
C:\Users\SAI DURGA PRASAD\AppData\Local\Temp\ipykernel_12444\4288956099.py:43: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("- conf_matrix_train:"(conf_matrix_test))

ValueError: Unknown format code 'f' for object of type 'str'